/* Google font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-lightness: 95%;
  /* Default background lightness */
  --light100: hsl(360, 0%, var(--bg-lightness));
  /* Lightest background shade */
  --light200: hsl(360, 0%, calc(var(--bg-lightness) - 3%));
  /* Lighter background shade (same as --bg-lightness) */
  --light300: hsl(360, 0%, calc(var(--bg-lightness) - 7%));
  /* Light background shade */

  /* Setting a minimum lightness of 0 for dark colors */
  --dark100: hsl(0, 0%, calc(120% - var(--bg-lightness)));
  /* Lightest background shade */
  --dark200: hsl(0, 0%, calc(110% - var(--bg-lightness)));
  /* Lighter background shade (same as --bg-lightness) */
  --dark300: hsl(0, 0%, calc(100% - var(--bg-lightness)));
  /* Light background shade */
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
}

html,
body {
  max-width: 100vw;
  font-family: Poppins, Montserrat, Helvetica, Verdana, sans-serif;
  overflow-x: hidden;
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-padding {
  @apply max-w-[1240px] px-4 m-auto;
}



/*======================================*/
/* custom styles */

.bg-light100 {
  background-color: var(--light100);
}

.bg-light200 {
  background-color: var(--light200);
}

.bg-light300 {
  background-color: var(--light300);
}

.text-dark100 {
  color: var(--dark100);
}

.text-dark200 {
  color: var(--dark200);
}

.text-dark300 {
  color: var(--dark300);
}

.border-light100 {
  @apply border-[var(--light100)];
}

.border-light200 {
  @apply border-[var(--light200)];
}

.border-light300 {
  @apply border-[var(--light300)];
}



/* ===================================== */
/* animations */

@keyframes slide-in {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}

@keyframes slow-appear {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-slow-appear {
  animation: slow-appear 0.5s ease-out;
}


/* /Carousel */
.carousel {
  display: flex;
  align-items: center;
  width: 100%;
}

.button {
  padding: 8px 16px;
  cursor: pointer;
}

.slideContainer {
  flex: 1;
  overflow: hidden;
}

.slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.item {
  flex: 0 0 100%;
  
}
